<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.demo.entity.User">
        <id column="id" jdbcType="INTEGER" property="userId" />
        <result column="username" jdbcType="VARCHAR" property="userName" />
        <result column="userpassword" jdbcType="VARCHAR" property="userPassword" />
    </resultMap>
    <select id="selectById" resultMap="BaseResultMap" parameterType="int">
        select * from tb_user where id=#{userId}
    </select>
</mapper>